/* Structure */
#header {position:fixed; top:0; left:0; right:0; height:2em}
#toolbar {position:absolute; top:0; left:0}
#navigation {position:absolute; top:0; right:0; text-align:right}
#main {position:fixed; top:2em; left:0; right:0; bottom:0; overflow:auto}
.overlay {display:none}
.formTip {color:#fff; z-index:10000}
.flag {color:black; font-weight:bold}
.flag.inactive {color:gray; background:white}
.error {font-weight:bold}
form div {margin-bottom:0.5em}
form .replace {display:none}
/* Fonts */
body {font-family:Helvetica,Arial,sans-serif}
input {font-family:inherit}
select {font-family:inherit}
textarea {font-family:inherit}
/* Links */
a {text-decoration:none}
.link.off {color:darkblue; background:white}
.link.on {color:white; background:darkblue}
/* Tables */
table {border-collapse:collapse}
tr.even {background:#FBF5E6}
tr.even .flag.inactive {color:gray; background:#FBF5E6}
tr.even .link.off {color:darkblue; background:#FBF5E6}
.sorting {background:url('datatables/sort_both.png') no-repeat center right}
.sorting_asc {background:url('datatables/sort_asc.png') no-repeat center right}
.sorting_asc_disabled {background:url('datatables/sort_asc_disabled.png') no-repeat center right}
.sorting_desc {background:url('datatables/sort_desc.png') no-repeat center right}
.sorting_desc_disabled {background:url('datatables/sort_desc_disabled.png') no-repeat center right}
.dataTables_filter {position:fixed; bottom:0}
.dataTables_info {position:fixed; bottom:0; right:0}
