.tabs {
    margin:0 !important; 
	padding:0;
	height:30px;
	border-bottom:1px solid #666;	 	
}
.tabs a { 
	float:left;
	font-size:13px;
	display:block;
	padding:5px 10px;	
	text-decoration:none;
	border:1px solid #666;	
	border-bottom:0px;
	height:18px;
	background-color:#efefef;
	color:#777;
	margin-right:2px;
	position:relative;
	top:1px;	
	outline:0;
    cursor:pointer;
}
.tabs a:hover {
	background-color:#F7F7F7;
	color:#333;
}
.tabs a.current {
	background-color:#ddd;
	border-bottom:1px solid #ddd;	
	color:#000;	
	cursor:default;
}
.panes > div {
	display:none;
	border:1px solid #666;
	border-width:0 1px 1px 1px;
	padding:10px;
	background-color:#ddd;	
}
.tooltip {
    display: none;
}
.overlay {
    display:none;
    z-index:9999;
    background:#fff;
    padding:5px;
}
